<%- include('../partials/head.ejs'); %>

<p> <%= locals.user %>'s profile page </p>

<%- include('../partials/header.ejs'); %>

<!doctype html>
<html lang="en">
<%- include('../partials/footer.ejs'); %>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <% if (locals.following) { %>
    <strong><a href="/user/unfollow/<%= locals.user %>">Unfollow <%= locals.user %></a></strong>
    <% } else { %>
    <strong><a href="/user/follow/<%= locals.user %>">Follow <%= locals.user %></a></strong>
    <% } %>

    <%- include('../partials/messagelist.ejs', {loggedin: locals.loggedin, username: locals.messages}); %>
</body>

</html>

<%- include('../partials/footer.ejs'); %>